*.vscode
*.pyc
build
install
log
doc/html
*.cproject
*.project
*.settings
*.swp
*~
*.pyc
core
*.a
*.o
*.os
*.pyc
*.so
*.tar.gz
*~
.build_version
.cproject
.project
.pydevproject
.rosgcov_files
.settings
TAGS
deps.gv
*.pyc
*.project
*.cproject
*.pydevproject
*~ 
*.pt
pt_store/
original_data/
weight/
data_store/
runs/
